
*, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Open Sans',sans-serif;
  
}

body {
  width: 100%;
  height: auto;
  background-color: var(--background);
}

:root {
  --red: #E37059;
  --light-blue: #4475AB;
  --dark-blue: #1B314F;
  --ultralight-blue: #BFC8DE;
  --orange: #FFB264;
  --background: #fbfeff;
}